.heading-container {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  height: 20vh; /* Adjust as needed for vertical centering */
  margin: 0; /* Reset margin for body */

}

.centered-heading {
  font-size: 100px; /* Adjust font size as needed */
  text-align: center; /* Center the text within the heading */
  /* Additional styles for the heading */
  color: rgb(235, 144, 54);

}
h1{
  color: rgb(235, 144, 54);

}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  body {
    background-color: rgba(255, 255, 0, 0.172);


   }



/* Style for the buttons */

.content {
  text-align: center; /* Center-align text */
}
nav {
  margin: 27px auto 0;

  position: relative;
  width: 1500px;
  height: 50px;
  background-color: #a7ed7268;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: rgb(6, 0, 0);
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 250px;
}
a:nth-child(2) {
  width: 250px;
}
a:nth-child(3) {
  width: 250px;
}
a:nth-child(4) {
  width: 250px;
}
a:nth-child(5) {
  width: 250px;
}
nav .start-home, a:nth-child(1):hover~.animation {
  width: 250px;
  background-color: #f6bcd9;
}
nav .start-about, a:nth-child(2):hover~.animation {
  width: 250px;
  left: 250px;
  background-color: #f6bcd9;
}
nav .start-blog, a:nth-child(3):hover~.animation {
  width: 250px;
  left: 250px;
  background-color: #f6bcd9;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
  width: 250px;
  left: 250px;
  background-color: #f6bcd9;
}
nav .start-contact, a:nth-child(5):hover~.animation {
  width: 250px;
  left: 250px;
  background-color: #f6bcd9;
}

.social-icons {
  display: flex;
  justify-content: flex-end; /* Aligns content to the right */
  /* Add any additional styling you need for the container */
}

